header {
    background-image: url("Sunset.jpeg");
    border-radius: 25px;
    padding: 20px;
    width: 95%;
    height: 210px;
}

h1 {
    text-align: left;
    color: black;
}

p {
    text-align: center;
    color: black;

}

ul {
    list-style: none;
    padding: 0%;
    margin: 0%;
    text-align: center;
    color: black;
}

li {
    display: flexbox;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: lighter;
    display: inline-flexbox;
    text-align: center;
}

body {
    background-color: aquamarine;
    background-image: url(Background.jpg);
}

#about {
    margin: 45px;
    padding: 30px;
    width: 90%;
    height: 60%;
    border-radius: 25px;
    background-color: whitesmoke;
    box-shadow: 0px 0px 5px 0px #ccc;
}

#projects {
    margin: 45px;
    padding: 30px;
    width: 90%;
    height: 100%;
    border-radius: 25px;
    background-color: whitesmoke;
    box-shadow: 0px 0px 5px 0px #ccc;
}

#skills {
    margin: 45px;
    padding: 30px;
    width: 90%;
    height: 100%;
    border-radius: 25px;
    background-color: whitesmoke;
    box-shadow: 0px 0px 5px 0px #ccc;
    display: inline-flexbox;
    text-align: center;
    list-style: none;

}
#contact {
    margin: 45px;
    padding: 30px;
    width: 90%;
    height: 50%;
    border-radius: 25px;
    background-color: whitesmoke;
    box-shadow: 0px 0px 5px 0px #ccc;
}

label {
    display: block;
    margin: 0.5rem 0;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
  }